/* Custom CSS for BurguerFun */

.burger-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-links {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 19; /* Slightly less than header's z-20 */
    padding-top: 60px; /* To account for fixed header height */
    overflow-y: auto; /* Enable scrolling if menu content exceeds height */
    background-color: #1a202c; /* Ensure background is opaque when active to cover content */
}

.nav-active {
    transform: translateX(0%);
}

.burger-icon.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-icon.toggle .line2 {
    opacity: 0;
}

.burger-icon.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.swiper-pagination-bullet {
    background-color: #FBBF24 !important;
}

.swiper-pagination-bullet-active {
    background-color: #F59E0B !important;
}

